<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.julong.oasystem.dao.MeetDao">

    <!-- 可根据自己的需求，是否要使用 -->
    <select id="count" resultType="Integer">
        SELECT count(0)
        FROM OA_MEET obj
        WHERE 1=1

    </select>


    <select id="listByPage" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        obj.id as "id",
        obj.create_By as "create_By",
        users.nickname as "nickname",
        obj.title as "title",
        obj.descr as "descr",
        obj.meet_RoomId   as "meet_RoomId",
        room.meetRoomName as "roomName",
        obj.status as "status",
        TO_CHAR(obj.start_Time,'yyyy-mm-dd hh24:mi:ss')  as "start_Time",
        TO_CHAR( obj.create_Time,'yyyy-mm-dd hh24:mi:ss')  as "create_Time"

        FROM OA_MEET obj,OA_USER users,OA_MEETINGROOM room
        WHERE users.id = obj.create_By
        AND  obj.meet_RoomId = room.id
        AND obj.status != 3
        ORDER BY obj.id
    </select>


    <select id="newListMeeting" resultType="com.alibaba.fastjson.JSONObject">
        SELECT *
        FROM(
            SELECT
            obj.id as "id",
            obj.create_By as "create_By",
            users.nickname as "nickname",
            obj.title as "title",
            obj.descr as "descr",
            obj.meet_RoomId   as "meet_RoomId",
            room.meetRoomName as "roomName",
            obj.status as "status",
            TO_CHAR(obj.start_Time,'yyyy-mm-dd hh24:mi:ss')  as "start_Time",
            TO_CHAR( obj.create_Time,'yyyy-mm-dd hh24:mi:ss')  as "create_Time"

            FROM OA_MEET obj,OA_USER users,OA_MEETINGROOM room
            WHERE users.id = obj.create_By
            AND  obj.meet_RoomId = room.id
            AND obj.status != 3
            ORDER BY obj.create_Time DESC
        )
        WHERE  ROWNUM &lt;= 5
    </select>

    <select id="selectMeetingById" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            obj.id as "id",
            obj.create_By as "create_By",
            users.nickname as "nickname",
            obj.title as "title",
            obj.descr as "descr",
            obj.meet_RoomId   as "meet_RoomId",
            room.meetRoomName as "roomName",
            obj.status as "status",
            TO_CHAR(obj.start_Time,'yyyy-mm-dd hh24:mi:ss')  as "start_Time",
            TO_CHAR( obj.create_Time,'yyyy-mm-dd hh24:mi:ss')  as "create_Time"

            FROM OA_MEET obj,OA_USER users,OA_MEETINGROOM room
            WHERE obj.id = #{id}
            AND users.id = obj.create_By
            AND  obj.meet_RoomId = room.id
    </select>

    <insert id="insert" parameterType="com.alibaba.fastjson.JSONObject">

        <selectKey  keyProperty="id" resultType="int" order="BEFORE">
            select nvl(max(id),0)+1 from OA_MEET
        </selectKey>

        insert into OA_MEET

        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="create_By != null" >
                create_By,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="descr !=null ">
                descr,
            </if>
            <if test="meet_RoomId != null" >
                meet_RoomId,
            </if>
            <if test="start_Time != null" >
                start_Time,
            </if>

            <if test="create_Time != null" >
                create_Time,
            </if>
            <if test="status != null" >
                status,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="create_By != null" >
                #{create_By,jdbcType=VARCHAR},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="descr !=null and descr != ''">
                #{descr},
            </if>
            <if test="meet_RoomId != null" >
                #{meet_RoomId,jdbcType=VARCHAR},
            </if>
            <if test="start_Time != null" >
                to_date(#{start_Time,jdbcType=DATE} , 'yyyy-mm-dd hh24:mi:ss') ,
            </if>
            <if test="create_Time != null" >
                to_date(#{create_Time,jdbcType=DATE} , 'yyyy-mm-dd hh24:mi:ss'),
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>

    </insert>


    <update id="update" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE OA_MEET
        <set>
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="descr != null" >
                descr = #{descr,jdbcType=VARCHAR},
            </if>
            <if test="meet_RoomId != null" >
                meet_RoomId = #{meet_RoomId,jdbcType=VARCHAR},
            </if>
            <if test="start_Time != null" >
                start_Time = #{start_Time,jdbcType=DATE},
            </if>
            <if test="create_Time != null" >
                create_Time = #{create_Time,jdbcType=DATE},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>


    <update id="agree" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE OA_MEET
        SET
            remark=#{remark},
            reply=#{reply},
            status=#{status}
        WHERE
        id = #{id};
    </update>


    <update id="delete" parameterType="java.lang.Long">
        update
        OA_MEET set status=3
        where
        id = #{id}
    </update>


    <select id="selectList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        obj.id as "id",
        obj.create_By as "create_By",
        users.nickname as "nickname",
        obj.title as "title",
        obj.descr as "descr",
        obj.meet_RoomId as "meet_RoomId",
        obj.status as "status",
        TO_CHAR(obj.start_Time ,'yyyy-mm-dd hh24:mi:ss')  as "start_Time ",
        TO_CHAR( obj.create_Time,'yyyy-mm-dd hh24:mi:ss')  as "create_Time"
        FROM OA_MEET obj,OA_USER users
        WHERE users.id=obj.create_By
        ORDER BY obj.id
    </select>


</mapper>