<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.julong.oasystem.dao.WeChatConfigDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <select id="count" resultType="Integer">
        SELECT count(0)
        FROM OA_WECHAT_CONFIG obj
        WHERE obj.delete_status = '1'
        <if test="orgPk !='' and orgPk !=null">
            and  obj.pk_org=#{orgPk}
        </if>
    </select>


    <select id="listByPage" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
                    obj.id  as "id",
                    obj.name as "name",
                    obj.pk_org as "pkOrg",
                    obj.cortid as "cortid",
                    obj.secret as "secret",
                    obj.txlsecret as "txlsecret",
                    obj.delete_status as "deleteStatus"
        FROM OA_WECHAT_CONFIG obj
        WHERE obj.delete_status = '1'
        <if test="orgPk !='' and orgPk !=null">
            and  obj.pk_org=#{orgPk}
        </if>
        ORDER BY obj.id DESC
    </select>

    <select id="listAll" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            obj.id  as "id",
            obj.name as "name",
            obj.pk_org as "pkOrg",
            obj.cortid as "cortid",
            obj.secret as "secret",
            obj.txlsecret as "txlsecret",
            obj.delete_status as "deleteStatus"
        FROM OA_WECHAT_CONFIG obj
        WHERE obj.delete_status = '1'
        ORDER BY obj.id
    </select>

    <select id="list" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            obj.id  as "id",
            obj.name as "name",
            obj.pk_org as "pkOrg",
            obj.cortid as "cortid",
            obj.secret as "secret",
            obj.txlsecret as "txlsecret",
            obj.delete_status as "deleteStatus"
        FROM OA_WECHAT_CONFIG obj
        WHERE obj.delete_status = '1'
        ORDER BY obj.id DESC
    </select>


    <select id="getByPkOrg" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            obj.id  as "id",
            obj.name as "name",
            obj.pk_org as "pkOrg",
            obj.cortid as "cortid",
            obj.secret as "secret",
            obj.txlsecret as "txlsecret",
            obj.delete_status as "deleteStatus"
        FROM OA_WECHAT_CONFIG obj
        WHERE obj.delete_status = '1'
        and obj.pk_org = #{orgPk}
    </select>

    <insert id="insert" parameterType="com.alibaba.fastjson.JSONObject">

        <selectKey  keyProperty="id" resultType="int" order="BEFORE">
            select nvl(max(id),0)+1 from OA_WECHAT_CONFIG
        </selectKey>

        INSERT INTO OA_WECHAT_CONFIG
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="pkOrg != null">
                pk_org,
            </if>
            <if test="cortid != null">
                cortid,
            </if>
            <if test="secret != null">
                secret,
            </if>

            <if test="txlsecret != null">
                txlsecret,
            </if>
            <if test="deleteStatus != null and deleteStatus != ''">
                delete_status,
            </if>

        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="pkOrg != null">
                #{pkOrg,jdbcType=VARCHAR},
            </if>
            <if test="cortid != null">
                #{cortid,jdbcType=VARCHAR},
            </if>
            <if test="secret != null">
                #{secret,jdbcType=VARCHAR},
            </if>
            <if test="txlsecret != null">
                #{txlsecret,jdbcType=VARCHAR},
            </if>
            <if test="deleteStatus != null and deleteStatus != ''">
                #{delete_status,jdbcType=INTEGER},
            </if>
        </trim>

    </insert>

    <update id="update" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE OA_WECHAT_CONFIG
        SET
            name=#{name},
            pk_org=#{pkOrg},
            cortid=#{cortid},
            secret=#{secret},
            txlsecret=#{txlsecret},
            delete_status=#{deleteStatus}
        WHERE
        id = #{id};
    </update>


    <update id="delete" parameterType="java.lang.Long">
        update
        OA_WECHAT_CONFIG set delete_status=2
        where
        id = #{id}
    </update>

    <select id="getMessageParam" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            obj.pk_org as "agentid",
            obj.cortid as "appid",
            obj.secret as "appSecret"
        FROM OA_WECHAT_CONFIG obj
        WHERE obj.delete_status = '1'
        ORDER BY obj.id DESC
    </select>
</mapper>